<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../estilos.css/styles.css">
    <title>Contacto</title>
  </head>
    <body class="bodynosotros" >    
      <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top navClass">
          <div class="container-fluid navClass">
            <a class="navbar-brand" href="../index.html"><img src="../ImgB/My project-1.png" alt=""></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarCollapse">
              <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="../views/exploracion.html">Contacto</a>
                </li>
      
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="../views/menu.html">Menu</a>
                </li>
      
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="../views/nosotros.html">Nosotros</a>
                </li>
      
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="../views/historia.html">Historia</a>
                </li>
                
                
              </ul>
            </div>
          </div>
        </nav>
      </header>

<main class="exploracion">

  

    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">
    <div>

      
      <form>
        <div class="form-row">
          <div class="form-group col-md-">
            <label for="inputEmail4">Email</label>
            <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
          </div>
          <div class="form-group col-md-">
            <label for="inputPassword4">Nombre</label>
            <input type="text" class="form-control" id="" placeholder="Nombre">
          </div>
        </div>
        
      
        <div class="form-row">
          <div class="form-group col-md-">
            <label for="inputCity">Barrio</label>
            <input type="text" class="form-control" id="inputCity">
          </div>
          <div class="form-group col-md-">
            <label for="inputState">Provincia</label>
            <select id="inputState" class="form-control">
              <option selected>Córdoba</option>
              <option>Buenos Aires</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label for="inputZip">Zip</label>
            <input type="text" class="form-control" id="inputZip">
          </div>
        </div>
        <div class="form-group">

        
        </div>
        <button type="submit" class="btn btn-dark">Enviar</button>
      </form>
    </div>
      
      <hr class="featurette-divider">
      
      
    </div>

    <hr class="featurette-divider">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3405.0769866887044!2d-64.17166298424854!3d-31.412004903184407!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9432a2a1b3189765%3A0x5c852f87d69eea8a!2sDavid%20Luque%20427%2C%20X5004AKK%20C%C3%B3rdoba!5e0!3m2!1ses-419!2sar!4v1665019635796!5m2!1ses-419!2sar" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </hr>

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->
  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>

  
<footer class="py-3 my-4 footerIndex">
  <ul class="nav justify-content-center border-bottom pb-3 mb-3">
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Subir</a></li>
    <li class="nav-item"><a href="../views/exploracion.html" class="nav-link px-2 text-muted">Contacto</a></li>
    <li class="nav-item"><a href="https://www.instagram.com/" class="nav-link px-2 text-muted">Instagram</a></li>
  </ul>
  
</footer>   
  </main>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" 
 integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>
